@font-face {
    font-family: "DD-TTNorms";
    src: url("./TTNorms-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DD-TTNorms";
    src: url("./TTNorms-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "DD-TTNorms";
    src: url("./TTNorms-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "DD-TTNorms";
    src: url("./TTNorms-ExtraBold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}


body{

    width: 100%;
   
    padding: 0;
    margin: 0;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body_flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
a{
    color: aliceblue;
    font-weight: 600;
}
.header{
    width: 100%;
    display:block;
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:450px;
    position: relative;
    text-align: center;
}
.nav{
    float: right;
    display: flex;
}
.nav span a{
    font-size:18px ;
    padding: 7px 5px 7px 0;
    font-weight: 700;
    color: rgb(243, 239, 239);
    display: block;
    margin: 15px 20px 0 0;
    line-height: 22px;
    text-decoration: none;
    
}
.sign_up span a{
    padding: 7px 15px 7px 10px;
    background-color: rgb(252, 254, 255);
    color:rgb(54, 53, 53); 
    border-radius: 70px;
    padding-left:20px ;
    text-decoration: none;

}

.logo{
    
    width: 60px;
    height: 40px;
    fill: #ffffff; 
    display: flex;
    flex-wrap: wrap;
    display: block;
    
}
.heading_t{
    display: none;
    color: #ffffff;
    font-weight: 500;
}
.inside_banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top:122px;
}
.container_info{

    padding-right: 20px;
}
.info_banner{

    font-size: 32px;
    width: 100%;
    display: block;
    font-weight: 700;
    line-height: 40px;
    color: #ffffff;
    letter-spacing: -0.04ch;
}
.search_bar_icon{
    width: 24px;
    height: 24px;
    fill: none;
    padding: 10px 0 10px 10px;

}
.search_bar_icon2{
    display: none;
    width:24px;
    height: 24px;
    fill:none;
    padding: 10px 0 10px 10px;
}

.serB_arrow{
    width: 24px;
    height: 24px;
    fill: none;
    padding: 10px 10px 10px 0;
}
.serB_arrow path{
    fill :currentColor;
}
.delivery_serB{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 10px 1px 10px 10px;
    border: none;
    
}
.search_box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff;
    border-radius: 65px;
   

}
.ienter{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search_bar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}
.container_search_bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.saved_address{
   
    padding-top: 15px;
}
.saved_address a{
    font-weight: 500;
}
.Get_the_app{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(231,231,231);
    margin:24px;
    width:88%;
    height: 78px;
    gap:20px;
}
.get_exp,.get_app{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    display: block;
}
.get_exp{
    width: 165px;
}
.get_app{
    width:99px;
    background-color:rgb(235, 23, 0) ;
    color: #ffffff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    
}
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}
.features_icon img{
    width: 88px;
    height: 88px;
}

.features_info h2{
    width: 174px;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
    display: block;
    color: rgb(25,25,25);
    margin: 0;
    padding-bottom: 5px;
}
.features_info h3{
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 0;
    color: rgb(25,25,25);
    width: 164px;
}
.features{
    padding-top: 25px ;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
}

.features_info a{
    display: flex;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    gap:3px;

}

.features_info a p{
    font-size: 14px;
    color:#EB1700;
    font-weight: 700;
    display: block;
}
.features_dasher{
    padding-bottom: 123px;
    padding-left: 10px;
}
.dinning_table1 img{
    width: 80%;
    float: right;
}
.dinning_table1{
    margin-top:30px;
    top:-150px;
    position: absolute;
}
.dinning_table2 img{
    margin-top: 50px;
    width: 80%;
    float:left;
}
.dinning_table1_container{
    margin-top: 110px;
}
.dinning_table1_container,.dinning_table2_container{
    padding: 20px 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    clear:both;
    align-items: flex-start;

    
}
.dinning_table1_title,.dinning_table2_title{
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    color: rgb(2,25,25);
}
.dinning_table1_info,.dinning_table2_info{
    width: 200px;
    font-size: 14px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding: 0px;
    display: block;
    font-variant-ligatures: no-common-ligatures;
    padding: 15px 0;;
}
.get_the_app,.find_restaurants{
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #faf8f8;
    text-decoration: none;
}
.container_button{
    padding: 5px 10px 5px 10px ;
    background-color: #EB1700;
    border-radius: 1000px;
    text-align:center;
    size: 20px;
}
.container_button p{
    margin: 0;
    padding: 0;
}
.footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(25,25,25);
}
.All_Abouts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.location,.about{
   text-align: center;
   padding: 10px 20px;
}
.big_letters{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #ffffff;
}


.smaller_letters p{
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    opacity: 0.7;
    margin: 0;
    padding-bottom: 12px;
}

.smaller_letters{
    text-decoration: none; 
}
.smaller_letters p:hover{
    text-decoration: underline;
    opacity: 1;
}

.store_buttons svg{
    height : 48px; 
    width: 144px; 
    fill: #ffffff;
    opacity: 0.7; 
}
.store_abouts{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.store_buttons{
    padding:2px 8px;
    border-radius: 8px;
    background-color: rgb(73,73,73);
    display: block;
}
.stores {
    padding: 30px 0;
}
.button_app_store{
    padding-bottom: 10px;
}
.play_store :hover,.google_play :hover{
  opacity: 1;
}
.bottom_page{
    padding:25px 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social_media{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}
.logos{
    size: 0px;
    opacity: 0.5;
}
.logos:hover{
    opacity: 0.9;
}
.small_bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
}
.bottom_terms{
    font-size: 12px;
    text-decoration: none;
    padding: 0 10px;
    color: #ffffff;
}
.small_bottom span{
    opacity: 0.8;
}
.dinning_exp{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(255,240,237);
    padding-bottom:100px ;
    position: relative;
}

@media screen and (min-width:375px ) {

    .search_bar_icon2{
        display: none;
    }
    .Get_the_app{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(231,231,231);
        margin:24px;
        width:88%;
        height: 78px;
        gap:45px;
    }
    .dinning_table1_title,.dinning_table2_title{
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        color: rgb(2,25,25);
    }
    .heading_t{
        display: none;
    }
    
}
@media screen and (min-width:425px) {
    .search_bar_icon2{
        display: none;
    }
    .Get_the_app{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(231,231,231);
        margin:24px 56px;
        width:311px;
        height: 78px;
        gap:27px;
    }
    .features_dasher{
        padding-bottom: 123px;
        padding-left: 36px;
    }
    .dinning_table1 img{
        width: 85%;
        float: right;
    }

    .dinning_table1_container, .dinning_table2_container {
        padding: 50px 0 20px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        clear: both;
        align-items: flex-start;
    }
    .dinning_table2 img{
        margin-top: 50px;
        width: 85%;
        float:left;
    }
    .dinning_table1_info,.dinning_table2_info{
        width: 264px;
        font-size: 14px;
        font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0ch;
        text-transform: none;
        color: rgb(25, 25, 25);
        margin: 0px;
        padding: 0px;
        display: block;
        font-variant-ligatures: no-common-ligatures;
        padding: 15px 0;;
    }
    .features_info h2{
        width: 269px;
        font-size: 32px;
        font-weight: 700;
        text-align: left;
        display: block;
        color: rgb(25,25,25);
        margin: 0;
        padding-bottom: 5px;
    }
    .features_info h3{
        font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 18px;
        font-weight: 400;
        text-align: left;
        margin: 0;
        padding: 0;
        color: rgb(25,25,25);
        width: 220px;
    }
    .dinning_table1_title,.dinning_table2_title{
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        color: rgb(2,25,25);
    }
    .heading_t{
        display: none;
    }
}
@media screen and (min-width:768px) {
    .heading_t{
        display: none;
    }
    .info_banner{
        font-size: 32px;
        width: 60%;
        margin: auto;
        padding: 31px;
        display: block;
        font-weight: 700;
        line-height: 40px;
        color: #ffffff;
        letter-spacing: -0.04ch;
    }
    .Get_the_app{
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(231,231,231);
        margin:24px 228px;
        width:311px;
        height: 78px;
        gap:27px;
    }
    .features_dasher{
        padding-bottom: 123px;
        padding-left: 179px;
    }
    .dinning_table1 img{
        width: 56%;
        float: right;
    }
    .dinning_table2 img{
        margin-top: 50px;
        width: 56%;
        float:left;
        padding-top: 91px;
    }
    .dinning_table1{
        margin-top:30px;
        top:-283px;
        position: absolute;
    }
    .features_dasher{
        padding-bottom: 297px;
        padding-left: 185px;
    }
    .dinning_table1_container{
      position: absolute;
      top: -418px;
      width: 221px;
    }
    .dinning_table1_info{
        width: 202px;
    }
    .dinning_table2_container{
        position: absolute;
        float: right;
        right: 60px;
        top: 135px;
        padding:0;
        width: 30%;
    }
    .dinning_table2_info{
      width: 173px;
    }
    .dinning_table2_title{
      width: 193px;
    }
    .dinning_exp{
        padding-bottom: 140px;
    }
    .All_Abouts{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .location,.about{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .cc{
        column-gap: 212px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 233px;
    }
    .aa{
        display: flex;
        flex-direction: row;
        width: 100%;
        column-gap: 120px;
    }
    .bottom_page{
        padding: 25px 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        column-gap: 84px;
    }
    .bottom_terms{
        font-weight: 300;
        padding: 3px 7px;
    }
    .logo_bottom{
        padding: 1px 9px;
    }

    .search_bar_icon{
        display: none;
    }
    .search_bar_icon2{
        display: block;
    }
    .delivery_serB{
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        padding: 10px 1px 10px 10px;
        border: none;
        width: 321px;
        
    }
   
}
@media screen and (min-width:1024px){
   .heading_t{
       display: block;
       letter-spacing: 3px;
       font-weight: 700;
       font-size: 18px;
   }
   .logo{
       width: 35px;
       height: 17px;
   }
   .logo_section{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap:7px
       
   }
   .inside_banner{
       top:11px;
   }
   .ib{
       padding-top: 20px;
   }
   .info_banner{
       
       width: 61%;
       font-size: 45px;
       line-height: 51px;
   }
   .Get_the_app{
    margin: 24px 355px;
   }
   .features_dasher{
       padding-left: 315px;
       margin-bottom: 100px;
   }
   .dinning_table1 img {
       width: 61%;
       margin: -97px 0;
   }
   .dinning_table2 img{
       width: 61%;
       margin: 50px 0;
   }
   .dinning_table1_container{
       left: 30px;
   }
   .dinning_table2_container{
       right: -3px;
       top: 275px;
   }
   .dinning_table2_title{
       width: 284px;
   }
   .dinning_table2_info{
       width:236px ;
   }
   .cc{
       column-gap: 79px;
   }
   .All_Abouts{
       display: flex;
       flex-direction: row;
   }
   .location:last-child{
       padding-left: 439px;

   }
   .aa{
       column-gap: 14px;
   }
  
   .bottom_page{
       column-gap: 349px;
       padding: 0;
   }
   .store_abouts{
       display: flex;
       flex-direction: row-reverse;
       column-gap: 291px;
       align-items: flex-start;
   }
  .store_buttons{
      width: 114px;
      height: 38px;
  }
  .store_buttons svg{
      height: 36px;
      width: 116px;
  }
  .stores{
      padding: 30px 28px;
  }


}
@media  screen and (min-width:1440px) {
    .info_banner{
        width: 60%;
        font-size: 50px;
    }
    .arrow{
        padding: 6px 8px 3px 7px;
    }
    .serB_arrow{
        background-color: #EB1700;
        width: 22px;
        height: 24px;
        border-radius: 35px;
        padding: 5px 9px 8px 8px;
    }
    .serB_arrow path{
        fill:#ffffff;
    }
    .header{
        height: 460px;
    }
    .Get_the_app{
        margin: 24px 584px;
    }
    .features_dasher{
        column-gap: 219px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding-left: 97px;
        margin-bottom: 332px;
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .features_info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .features_info h2 ,.features_info h3{
        text-align: center;
        width: 261px;
    }
    .features_icon img{
        width: 149px;
        height: 161px;
    }
    .dinning_exp{
        width: 100%;
    }
    .dinning_table1 img{
        width: 58%;
        margin: -318px 107px;
    }
    .dinning_table1_title,.dinning_table2_title{
        font-size: 33px;
        width: 380px;
    }
    .dinning_table1_title{
        width: 222px;
    }
    .dinning_table1_info,.dinning_table2_info{
        width: 317px;
    }
    .dinning_table2 img{
      width: 71%;
      margin: 50px 97px;
    }
    .dinning_table1_container{
        top:-576px;
        width: 317px;
        left: 80px;
    }
    .dinning_table2_container{
        top:327px
    }
   .All_Abouts{
       width: 1021px;
   }
  
}
@media  screen and (min-width:2560px) {
    .Get_the_app{
        margin: 24px 1131px;
    }
    .main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .dinning_table1 img{
        width: 27%;
        margin: -212px 589px;
    }
    .dinning_table1_container{
        top:-459px;
        left:794px;
    }
    .dinning_table2 img{
        width: 27%;
        margin: 71px 788px;
    }
    .dinning_table2_container{
        right: 188px;
    }

}